{:paths ["src"]
 :deps {}
 :aliases {:jar {:extra-deps {seancorfield/depstar {:mvn/version "1.0.94"}}
                 :main-opts ["-m" "hf.depstar.jar" "yang.jar"]}
           :install {:extra-deps {deps-deploy/deps-deploy {:mvn/version "0.0.9"}}
                     :main-opts ["-m" "deps-deploy.deps-deploy" "install" "yang.jar"]}
           :deploy {:extra-deps {deps-deploy/deps-deploy {:mvn/version "0.0.9"}}
                    :main-opts ["-m" "deps-deploy.deps-deploy" "deploy" "yang.jar" "true"]}}}
